{{ define "location" }}
  <li class="location-item">
    <button>
      <img src="/static/images/{{ .Image.Src }}" alt="{{ .Image.Alt }}" />
      <h3>{{ .Title }}</h3>
    </button>
  </li>
{{ end }}
