<!doctype html>
<html>
  <head>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/main.css" />
    <script src="/static/htmx.js" defer></script>
  </head>
  <body>
    <header id="main-header">
      <div id="main-title">
        <a href="/">
          <img src="/static/logo.png" alt="Elegant model" />
          <h1>Elegant Clothing</h1>
        </a>
      </div>
    </header>
    <main id="product" hx-boost="true">
      <header>
        <img src="/static/images/{{ .Image }}" alt="${product.title}" />
        <div>
          <h1>{{ .Title }}</h1>
          <p id="product-price">{{ .Price }}</p>
          <form method="post" action="/cart">
            <button>Add to Cart</button>
          </form>
        </div>
      </header>
      <p id="product-description">{{ .Description }}</p>
    </main>
  </body>
</html>
