<li id="goal-{{.Index}}">
    <span>{{.Item}}</span>
    <button
            hx-delete="/goals/{{.Index}}"
            hx-target="#goal-{{.Index}}"
            hx-swap="outerHTML">Remove</button>
</li>